management:
  endpoint:
    show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    com:
      dikshanta:
        food:
          delivery:
            foodDeliveryBackend: DEBUG
spring:
  security:
    user:
      name: root
      password: root
  datasource:
    hikari:
      auto-commit: false
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/syp
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      jpa:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
